---
const platform = "github";
const username = "mar124029";
---

<footer>
    <p>Learn more about my projects on a <a target="_blank" href={`https://www.${platform}.com/${username}`}>{platform}</a>!</p>
</footer>